.social-sidebar {
  position: fixed;
  right: 0px;
  top: 50%;
  background-color: #760081;
  padding: 30px 20px 30px 20px;
  border-radius: 20px 0px 0px 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1000;
}

.social-sidebar a {
  width: 45px;
  height: 45px;
  background: white;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #760081;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  transition: all 0.3s ease;
}

.social-sidebar a:hover {
  /* transform: translateX(-5px); */
  background: none;
  color: white;
}

.soc-link {
  position: absolute;
  right: 0px;
  /* background: black; */
  color: #760081;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  white-space: nowrap;
  opacity: 0;
  transition: 0.3s ease-in-out;
  pointer-events: none;
}

.soc-item:hover .soc-link {
  opacity: 1;
  transform: translateX(-80px);
}