body {
  transition:
    background 0.4s ease,
    color 0.4s ease;
  background: white;
  color: black;
}

body.dark {
  background: #760081;
  color: white;
}

/* Toggle button */
.theme-toggle {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 45px;
  height: 45px;
  font-size: 45px;
  color: #760081;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* filter: drop-shadow(2px 4px 3px rgb(204, 26, 220)); */
  transition: 0.3s;
  z-index: 1000;
}

body.dark .theme-toggle {
  /* background: white; */
  color: white;
  /* filter: drop-shadow(0px 6px 6px rgb(214, 227, 43)); */
}

body.dark .name {
  color: white;
}

body.dark .profile-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 40px;
  box-shadow: 0 10px 25px #ffffff81;
  transition: ease-in-out 1s;
}

body .profile-img:hover{
    border-radius: 30%;
    box-shadow: 0 10px 15px #ffffff81;
}

body.dark .role {
  font-size: 25px;
  color: rgb(201, 201, 201);
  margin-bottom: 20px;
}

.theme-toggle:hover {
  transform: rotate(20deg) scale(1.1);
}

/* ================= DARK MODE ================= */

body.dark .floating-nav {
  background: white;
}

body.dark .nav-item {
  /* background: #760081; */
  color: #760081;
  mix-blend-mode: multiply;
}

body.dark .nav-item.active {
  background: none;
  color: #760081;
  box-shadow: #760081 0px 0px 3px 3px;
  transform: translateY(-5px);
}

body.dark .nav-item:hover {
  background: none;
  color: #760081;
}

body.dark .reach-btn {
  background: white;
  color: #760081;
  border: white 1px solid;
}

body.dark .reach-btn:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

body.dark .social-sidebar {
  background-color: white;
}

body.dark .social-sidebar a {
  /* background: #760081; */
  color: #760081;
}

body.dark .social-sidebar a:hover {
  background: none;
  background-color: transparent;
  box-shadow: none;
  color: #760081;
}

body.dark .soc-link {
  color: white;
}

body.dark .nav-text {
  color: white;
}

/* about */

body.dark .about-title {
  color: white;
}

body.dark .about-text {
  color: #ccc;
}

body.dark .skills-badges span {
  background: #e29ee8;
  color: black;
}

body.dark .btn-main {
  background-color: white;
  color: #760081;
}

body.dark .btn-main:hover {
  background-color: transparent;
  color: white;
  border: white 2px solid;
}
